<% layout('layouts/boilerplate.ejs') %>

    <div class="container flex-grow-1">
        <div class="row mt-3">
            <div class="col-8 offset-3">


                <h3><%= listing.title %></h3>
            </div>
            <div class="card col-6 offset-3 show-card listing-card">
                <img src="<%= listing.image%>" class="card-img-top show-img" alt="listing-image">
                <div class="card-body">
                    <p class="card-text">
                        <i>Owned by: <%= listing.owner.username %></i></p>
                        
                            <p class="card-text"><%= listing.description %></p>
                            <p class="card-text">&#x20B9;<%= listing.price.toLocaleString("en-IN") %></p>
                            <p class="card-text">    <%= listing.location %></p>
                            <p class="card-text">        <%= listing.country %></p>

                </div>


            </div>
            

        </div>
        <br>
    <% if(currentUser && currentUser._id.equals(listing.owner._id)) { %>    
        <div class="btns">
            <br>
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST">
                <button type="submit" class="btn btn-dark offset-5">Delete</button>
            </form>
            </div>
    <% } %>

            
            <div class="col-8 offset-3">
                <hr>
                <% if(currentUser) { %>
                <h4>Leave a Review</h4>
                <form action="/listings/<%= listing.id %>/reviews" method="POST" class="needs-validation" novalidate>
                    <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating:</label>
                    <input type="range" id="rating" name="review[rating]" min="1" max="5" class="form-range" value="3">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="comment" class="form-label">Comment:</label>
                        <textarea id="comment" name="review[comment]" rows="4" cols="50" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please enter a comment</div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
            </form>
            <% } %>
            
            <h4>Reviews:</h4> 
            <div class="row">

            <% for(review of listing.reviews) { %>
                <div class="card col-5 ms-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">John Doe</h5>
                        <p class="card-text">Rating: <%= review.rating %> star</p>
                        <p class="card-text"><%= review.comment %></p>
                        
                        
                </div>
                <form class="mb-3" method="POST" action="/listings/<%=listing._id%>/reviews/<%= review._id %>?_method=DELETE">
                    <button class="btn btn-sm btn-dark">Delete</button>
                </form>
            </div>
            <% } %>
    </div>
    
    </div>
 